mat-grid-tile{
    background-color: darkred;
    font-stretch: expanded;
    font-style: bold;
    font-weight: 500;
    float: right;
}

mat-progress-spinner{
    left : 80%;
    top: 2.1%
}

mat-panel-description{
    
}