<div style="padding: 20px;">
  <h2>Movies In Database</h2>

  <div style="margin: auto auto; width: 70%; margin-top: 20px">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Genre</th>
          <th>Release Year</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let m of movieList">
          <td>{{m.id}}</td>
          <td>{{m.name}}</td>
          <td>{{m.description}}</td>
          <td>{{m.genre}}</td>
          <td>{{m.publishedYear}}</td>


        </tr>
      </tbody>

    </table>

  </div>
</div>

<!-- <button (click)="addChecked()"> Submit
</button>
<br><br> -->

<ng-container *ngFor="let i of movieList">
  <li>
    {{i.id}}
    {{i.name}}
    {{i.description}}
    {{i.genre}}
    {{i.year}}
    {{i.checked}}

    <input type="checkbox" id={{i.id}} name={{i.name}} #isChecked (click)="onCheck(isChecked)">
    <!-- {{selected2.includes(i.id)}} -->
    <ng-container *ngIf="selected2.includes(i.id)">
      <input type="radio" value=COMPLETED{{i.id}} name="statuses{{i.name}}" id="1{{i.id}}"
        (click)="onClicked(checkedVal)" [(ngModel)]="checkedVal">
      COMPLETED
      <input type="radio" value=IN_PROGRESS{{i.id}} name="statuses{{i.name}}" checked id="2{{i.id}}"
        (click)="onClicked(checkedVal)" [(ngModel)]="checkedVal">
      IN_PROGRESS
      <input type="radio" value=NOT_STARTED{{i.id}} name="statuses{{i.name}} " checked id="3{{i.id}}"
        (click)="onClicked(checkedVal)" [(ngModel)]="checkedVal">
      NOT_STARTED
    </ng-container>

  </li>
</ng-container>

<br><br>
<button (click)="onSave(selected)"> Submit
</button>
<br><br>
<!-- <button (click)="getUserId()"> Get user ID
</button> -->
<br><br>

{{selected2 | json}}
{{checkedVal | json}}
<!-- value = {{user}} -->