<mat-toolbar>
    <span>
        <button color="primary" mat-button routerLink="/home" routerLinkActive="active">Home</button>
        <button color="primary" mat-button routerLink="/login" routerLinkActive="active">Login</button>
        <button color="primary" mat-button routerLink="/myprogress" routerLinkActive="active">MyProgress</button>
        <button color="primary" mat-button routerLink="/movies" routerLinkActive="active">Movies</button>
        <button color="primary" mat-button routerLink="/create" routerLinkActive="active">Create</button>
    </span>
</mat-toolbar>

<router-outlet></router-outlet>